body{
    
    background-image: url('leaves-4754980.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
header h1{
    text-align: center;
    background-color: rgba(81, 89, 86, 0.253);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(231, 237, 240);
}
 nav ul {
    
    color: rgb(215, 217, 225);
    padding: 5px;
}
nav ul li{
    display: inline;
    padding: 5px;
}
nav ul li a{
    border: 2px solid rgba(177, 30, 133, 0.315);
    color: rgb(78, 189, 124);
    border-radius: 5px;
    padding: 5px ;
}
nav ul li a:hover{
    background-color: rgb(124, 224, 224);
    color: blue;
}
.one,.two,.three,.four{
    height: 30vp;
    width: 100%;
    padding-top: 60px;
}
.inone,.intwo,.inthree,.infour{
    padding: 10px 10px;
    text-align: center;
    color: rgb(235, 241, 243);
    border: 5px;
    border-radius: 5px;
    background-color: rgba(30, 22, 22, 0.548);
    backdrop-filter: blur;
    box-shadow: 0 4px 6px rgba(0,0,0,0.5);
}
#more{
    margin-top: 30px;
    cursor: pointer;
    background-color: rgba(141, 24, 108, 0.32);
    color: rgb(76, 200, 103);
    padding: 5px;
    border-radius: 5px;
    border: 3px solid plum;
    margin-top: 3px;
}
#more:hover{
    background-color: rgb(152, 37, 247);
    color: aqua;
}